{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
	<form>
		<form method="POST" action="">
			{{ form.csrt_token }}
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.dateofissue.label(class="form-control-label") }}
					{{ form.dateofissue(class="form-control-lg") }}
				</div>
				<div>
					{{ form.name.label(class="form-control-label") }}
					{{ form.name(class="form-control-lg") }}
				</div>

				<div>
					{{ form.amount.label(class="form-control-label") }}
					{{ form.amount(class="form-control-lg") }}
				</div>
				<div>
					{{ form.product.label(class="form-control-label") }}
					{{ form.product(class="form-control-lg") }}
				</div>
				<div>
					{{ form.typ.label(class="form-control-label") }}
					{{ form.typ(class="form-control-lg") }}
				</div>
				<div>
					{{ form.annualrate.label(class="form-control-label") }}
					{{ form.annualrate(class="form-control-lg") }}
				</div>
				<div>
					{{ form.startdate.label }}
					{{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
				</div>
				<div>
					{{ form.isr.label(class="form-control-label") }}
					{{ form.isr(class="form-control-lg") }}
				</div>
				<div>
					{{ form.generate.label(class="form-control-label") }}
					{{ form.generate(class="form-control-lg") }}
				</div>
				<div>
					{{ form.cutoffdate.label }}
					{{form.cutoffdate(class='datepicker')}} {{form.hidden_tag()}}
				</div>
				<div>
					{{form.submit()}}
				</div>

			</fieldset>
	</form>

</div>
{% endblock %}
