<% extends "header.html" %>

<% block body %>

<h1>Captura de datos</h1>
    <form action="" method="POST" novalidate>
        {{ <form action="" class="hidden_tag"()}}
    
    {{ form. hidden_tag() }}
    <p>
        {{ form.dateofissue.label }}
        {{ form.dateofissue }}
    </p>    
    <p>
        {{ form.name.label }} <br>
        {{ form.username }}
    </p>
    <p>
        {{ form.amount.label }}
        {{ form.amount }}
    </p>
    <p>
        {{form.product.label}}
        {{form.product}}
    </p>
    <p>
        {{ form.typ.label }}
        {{ form.typ }}
    </p>
    <p>
        {{form.annualrate.label}}
        {{form.annualrate}}
    </p> 
    <p> 
        {{ form.startdate.label }}
        {{}form.startdate}
    </p>   
    <p>
        {{ form.isr.label }}
        {{ form.isr }}
    </p>
    <p>
        {{form.generate.label}}
        {{form.generate}}
    </p>
    <p>
        {{form.cutoffdate.label}}
        {{form.cutoffdate}}
    </p>
    <p>{{ form.submit() }}</p>

</form>

<endblock %>